flows.json
[
    {
        "id": "5ccba3331b3862fe",
        "type": "tab",
        "label": "Starter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "025d5a9e74400e55",
        "type": "subflow",
        "name": "Component",
        "info": "Збирає HTML із компонентів із папки ./components/",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "8884863fecb63f3c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 320,
                "wires": [
                    {
                        "id": "7181bf4dbc626a94",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "mainComponent",
                "type": "str",
                "value": "index"
            },
            {
                "name": "maxRecursion",
                "type": "num",
                "value": "10"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "icon": "font-awesome/fa-braille"
    },
    {
        "id": "cf522e74c2f1fece",
        "type": "group",
        "z": "5ccba3331b3862fe",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "55374800c3d2dc95",
            "0cd06ad91723dcfd",
            "1e36ab6ddd737d82",
            "a6b05be79e90cd63",
            "1855405a76f46c0d",
            "c43a8ccfca68adba",
            "c6df213397388815",
            "5c2acfd5a03c28dc",
            "http_in_static",
            "func_static",
            "file_in_static",
            "http_resp_static",
            "d888716296a6ddb1",
            "bccc6f6c385b8a3a",
            "56fc02f22a459786",
            "e7e57dd41d47bd92",
            "9af568f097724b7b",
            "39b97c0ed1067938",
            "d3d2155d2d358b96"
        ],
        "x": 34,
        "y": 39,
        "w": 1092,
        "h": 302
    },
    {
        "id": "028f3987925e940f",
        "type": "global-config",
        "env": [
            {
                "name": "PROJECT_PATH",
                "value": "./data/projects/nodered-htmx-supabase-starter/public",
                "type": "str"
            }
        ]
    },
    {
        "id": "8884863fecb63f3c",
        "type": "function",
        "z": "025d5a9e74400e55",
        "name": "setMainFile",
        "func": "const main = env.get(\"mainComponent\") || \"index\";\nconst projectPath = env.get(\"PROJECT_PATH\");\nlet cache = global.get(\"cache\") || {};\n\n\nmsg.project_path = projectPath;\nmsg.filename = `${projectPath}/components/${main}.html`;\nconst cache_component = cache[msg.filename];\n\nif (!cache_component){\n    msg.is_catche = false;\n} else {\n    msg.payload = cache_component\n    msg.is_catche = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 120,
        "wires": [
            [
                "33b32ccb6030cdd9"
            ]
        ]
    },
    {
        "id": "405511c69dbbca9e",
        "type": "switch",
        "z": "025d5a9e74400e55",
        "name": "has <component>",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "<component>([\\w\\-\\.]+)<\\/component>",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "5f68003181ac2533"
            ],
            [
                "f1fba02dc9564d52"
            ]
        ]
    },
    {
        "id": "5f68003181ac2533",
        "type": "function",
        "z": "025d5a9e74400e55",
        "name": "prepareMain",
        "func": "msg.iterationCount = (msg.iterationCount || 0) + 1;\nif (msg.iterationCount > env.get(\"maxRecursion\")) {\n  node.error(\"Recursion limit exceeded\", msg);\n  return null;\n}\nmsg.mainTemplate = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 100,
        "wires": [
            [
                "1216d3b92b4cb303"
            ]
        ]
    },
    {
        "id": "1216d3b92b4cb303",
        "type": "html",
        "z": "025d5a9e74400e55",
        "name": "extract <component>",
        "property": "payload",
        "outproperty": "payload",
        "tag": "component",
        "ret": "text",
        "as": "multi",
        "chr": "",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "a4a952b987a54749"
            ]
        ]
    },
    {
        "id": "a4a952b987a54749",
        "type": "function",
        "z": "025d5a9e74400e55",
        "name": "buildPath",
        "func": "const component = msg.payload;\nlet cache = global.get(\"cache\") || {};\n\nmsg.componentName = component;\nmsg.filename = `${msg.project_path}/components/${component}.html`;\n\nconst cache_component = cache[msg.filename];\nif (!cache_component) {\n    msg.is_catche = false;\n} else {\n    msg.payload = cache_component\n    msg.is_catche = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 100,
        "wires": [
            [
                "6a9406204e60a0c0"
            ]
        ]
    },
    {
        "id": "679665608fdc93d4",
        "type": "file in",
        "z": "025d5a9e74400e55",
        "name": "loadComponent",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "sendError": false,
        "encoding": "none",
        "x": 900,
        "y": 40,
        "wires": [
            [
                "6a80aca59b0e2fe0"
            ]
        ]
    },
    {
        "id": "68f6d304c649b6d2",
        "type": "change",
        "z": "025d5a9e74400e55",
        "name": "template",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1320,
        "y": 160,
        "wires": [
            [
                "2f6b1a9f139cbfc9"
            ]
        ]
    },
    {
        "id": "74bc84ea30520580",
        "type": "join",
        "z": "025d5a9e74400e55",
        "name": "joinComponents",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "componentName",
        "joiner": "",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1340,
        "y": 220,
        "wires": [
            [
                "3ad5fe5fe8c1501f"
            ]
        ]
    },
    {
        "id": "3ad5fe5fe8c1501f",
        "type": "function",
        "z": "025d5a9e74400e55",
        "name": "replace <component>",
        "func": "const html = msg.mainTemplate;\nconst components = msg.payload;\nconst regex = /<component>([\\w\\-.]+)<\\/component>/g;\n\nmsg.payload = html.replace(regex, (match, name) => {\n  return components[name] || match;\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 220,
        "wires": [
            [
                "405511c69dbbca9e"
            ]
        ]
    },
    {
        "id": "7181bf4dbc626a94",
        "type": "template",
        "z": "025d5a9e74400e55",
        "name": "render output",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6b1a9f139cbfc9",
        "type": "template",
        "z": "025d5a9e74400e55",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 1480,
        "y": 160,
        "wires": [
            [
                "74bc84ea30520580"
            ]
        ]
    },
    {
        "id": "f1fba02dc9564d52",
        "type": "change",
        "z": "025d5a9e74400e55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "7181bf4dbc626a94"
            ]
        ]
    },
    {
        "id": "6a9406204e60a0c0",
        "type": "switch",
        "z": "025d5a9e74400e55",
        "name": "",
        "property": "is_catche",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "679665608fdc93d4"
            ],
            [
                "68f6d304c649b6d2"
            ]
        ]
    },
    {
        "id": "6a80aca59b0e2fe0",
        "type": "function",
        "z": "025d5a9e74400e55",
        "name": "setCache",
        "func": "let cache = global.get(\"cache\") || {};\ncache[msg.filename] = msg.payload;\nglobal.set(\"cache\", cache);\nmsg.payload = cache[msg.filename];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 40,
        "wires": [
            [
                "68f6d304c649b6d2"
            ]
        ]
    },
    {
        "id": "33b32ccb6030cdd9",
        "type": "switch",
        "z": "025d5a9e74400e55",
        "name": "",
        "property": "is_catche",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "762cb7879b08d536"
            ],
            [
                "405511c69dbbca9e"
            ]
        ]
    },
    {
        "id": "762cb7879b08d536",
        "type": "file in",
        "z": "025d5a9e74400e55",
        "name": "loadMainHtml",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "4827d61356ac942d"
            ]
        ]
    },
    {
        "id": "4827d61356ac942d",
        "type": "function",
        "z": "025d5a9e74400e55",
        "name": "setCache",
        "func": "let cache = global.get(\"cache\") || {};\ncache[msg.filename] = msg.payload;\nglobal.set(\"cache\", cache);\nmsg.payload = cache[msg.filename];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 60,
        "wires": [
            [
                "405511c69dbbca9e"
            ]
        ]
    },
    {
        "id": "bfc67594ce9932ab",
        "type": "subflow:025d5a9e74400e55",
        "z": "5ccba3331b3862fe",
        "name": "",
        "env": [
            {
                "name": "mainComponent",
                "value": "todo",
                "type": "str"
            }
        ],
        "x": 530,
        "y": 420,
        "wires": [
            [
                "211265ac1b71ea62"
            ]
        ]
    },
    {
        "id": "55374800c3d2dc95",
        "type": "http in",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "projectPages",
        "url": "/pages/:page",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "a6b05be79e90cd63"
            ]
        ]
    },
    {
        "id": "0cd06ad91723dcfd",
        "type": "template",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "",
        "field": "payload",
        "fieldType": "flow",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 860,
        "y": 160,
        "wires": [
            [
                "1855405a76f46c0d"
            ]
        ]
    },
    {
        "id": "1e36ab6ddd737d82",
        "type": "file in",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": ":page.html",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "d888716296a6ddb1"
            ]
        ]
    },
    {
        "id": "a6b05be79e90cd63",
        "type": "function",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "filename",
        "func": "const projectPath = env.get(\"PROJECT_PATH\");\nlet filename = `${projectPath}/pages/${msg.req.params.page}.html`\n\nmsg.filename = filename\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "1e36ab6ddd737d82"
            ]
        ]
    },
    {
        "id": "1855405a76f46c0d",
        "type": "http response",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "c43a8ccfca68adba",
        "type": "http in",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "indexPage",
        "url": "/",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "c6df213397388815"
            ]
        ]
    },
    {
        "id": "c6df213397388815",
        "type": "function",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "filename",
        "func": "let filename;\nconst projectPath = env.get(\"PROJECT_PATH\");\nif (msg.req.url.endsWith(\"manifest.webmanifest\")) {\n    let projectName = \"\"; \n    if (msg.req.headers.referer) {\n        let parts = msg.req.headers.referer.split(\"/\");\n        projectName = parts[parts.length - 1];\n    }\n    filename = `${projectPath}/index.html`;\n} else {\n    filename = `${projectPath}/index.html`;\n}\n\nmsg.filename = filename;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 80,
        "wires": [
            [
                "56fc02f22a459786"
            ]
        ]
    },
    {
        "id": "5c2acfd5a03c28dc",
        "type": "comment",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "Pages",
        "info": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "http_in_static",
        "type": "http in",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "Static files",
        "url": "/assets/:filename",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "func_static"
            ]
        ]
    },
    {
        "id": "func_static",
        "type": "function",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "resolve file",
        "func": "let project = msg.req.params.project_name;\nlet file = msg.req.params.filename;\nconst projectPath = env.get(\"PROJECT_PATH\");\nmsg.filename = `${projectPath}/assets/${file}`;\n\nlet ext = file.split('.').pop().toLowerCase();\nlet mime = {\n    css: \"text/css\",\n    js: \"application/javascript\",\n    png: \"image/png\",\n    jpg: \"image/jpeg\",\n    jpeg: \"image/jpeg\",\n    svg: \"image/svg+xml\"\n};\nmsg.headers = {\"Content-Type\": mime[ext] || \"application/octet-stream\"};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "file_in_static"
            ]
        ]
    },
    {
        "id": "file_in_static",
        "type": "file in",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "read asset",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "http_resp_static"
            ]
        ]
    },
    {
        "id": "http_resp_static",
        "type": "http response",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "serve asset",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "d888716296a6ddb1",
        "type": "change",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "0cd06ad91723dcfd"
            ]
        ]
    },
    {
        "id": "bccc6f6c385b8a3a",
        "type": "template",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "",
        "field": "payload",
        "fieldType": "flow",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 860,
        "y": 80,
        "wires": [
            [
                "e7e57dd41d47bd92"
            ]
        ]
    },
    {
        "id": "56fc02f22a459786",
        "type": "file in",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": ":index.html",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "9af568f097724b7b"
            ]
        ]
    },
    {
        "id": "e7e57dd41d47bd92",
        "type": "http response",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1040,
        "y": 80,
        "wires": []
    },
    {
        "id": "9af568f097724b7b",
        "type": "change",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 80,
        "wires": [
            [
                "bccc6f6c385b8a3a"
            ]
        ]
    },
    {
        "id": "89bc1ee1438620e8",
        "type": "http in",
        "z": "5ccba3331b3862fe",
        "name": "",
        "url": "/components/todo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "6d6308fb346dd11d"
            ]
        ]
    },
    {
        "id": "211265ac1b71ea62",
        "type": "http response",
        "z": "5ccba3331b3862fe",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "6d6308fb346dd11d",
        "type": "function",
        "z": "5ccba3331b3862fe",
        "name": "todos",
        "func": "msg.todos = [\n    { id: 1, title: \"Buy milk\", done: false },\n    { id: 2, title: \"Do your homework\", done: true }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "bfc67594ce9932ab"
            ]
        ]
    },
    {
        "id": "39b97c0ed1067938",
        "type": "function",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "clearCache",
        "func": "global.set(\"cache\", {});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d3d2155d2d358b96",
        "type": "inject",
        "z": "5ccba3331b3862fe",
        "g": "cf522e74c2f1fece",
        "name": "",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "39b97c0ed1067938"
            ]
        ]
    }
]